h2, p, li {
    text-align: left;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: rgb(141, 5, 39);
}

h2 {
    color: rgb(141, 5, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 36px;
}

ul {
    color: rgb(141, 5, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 32px;
}

p, li {
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

a {
    color: rgb(141, 5, 39);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}